<div class='more-info-box'>
  <div class='content'>
    <div class='text'>
      <p i18n class='bigger'>
            כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
      </p>
      <p i18n>
חוקרי מכון ויצמן למדע בשיתוף גורמי הבריאות פועלים כל העת כדי למפות את התפשטות הקורונה ולשמור על כולנו. שאלון זה נוצר כדי לסייע בחיזוי ואיתור של מוקדי ההתפשטות ולהגיע לחולים מהר יותר, על ידי הערכה של מספר האנשים בכל אזור שפיתחו תסמינים.
      </p>
      <p i18n>
עליך למלא את השאלון  פעם ביום, עבור כל בן משפחה בנפרד. חשוב שגם מי שחש בטוב ולא פיתח אף תסמין ימלא את השאלון.<br/>
השאלון אנונימי לחלוטין. 
      </p>
      <p i18n>
תודה לך! 🙏
      </p>
      <p i18n>
*חשוב לציין שהשאלון אינו נועד כדי לאבחן הידבקות בנגיף - אם את/ה חש/ה ברע, אנא פנה (מהבית) לגורמי הרפואה. 
      </p>
      <p i18n>
פרופסור ערן סגל, מכון ויצמן למדע
<br/>
פרופסור יובל דור, האוניברסיטה העברית
<br/>
פרופסור בנימין גיגר, מכון ויצמן למדע
      </p>
      <div class='logos'>
        <img src='assets/img/weizmann-logo.png'/>
        <img src='assets/img/hasadna-logo.svg'/>
      </div>
      <div class='logos'>
        <img src='assets/img/migdal-logo.svg'/>
      </div>
      <div class='links'>
        גירסא 0.0.5&nbsp;|&nbsp;<a href='privacy.com' i18n target='_blank'>מדיניות פרטיות</a>&nbsp;|&nbsp;<a href='https://github.com/hasadna/avid-co' i18n target='_blank'>קוד המקור</a>
      </div>
    </div>
  </div>
  <div class='cta'>
    <span class='button' (click)='start.emit()' i18n>הבנתי, בואו נתחיל</span>
  </div>
</div>