language: python
python:
- 3.6
sudo: required
install:
- nvm install 10
- nvm use 10
- pip install transifex-client yaml requests awesome-slugify
- npm install
- npm install -g @angular/cli@7.1.3
script:
- ". extract_i18n.sh"
- tx push --source
- tx pull --mode sourceastranslation -l ar,en,am,ru
- python tools/yaml_to_json.py
deploy:
  skip_cleanup: true
  provider: script
  script: "./travis_deploy.sh"
  on:
    branch: master
env:
  global:
    secure: PAvs9kwjmGT/t12UHSgaVBVYtEBwQDVrvUXD3Un3bnQPiyr/D4dfr/mZGNt2kvkuwCe0fkZe6bBL+RCdwW8M5HZlx2QmiNLxJNFHCAGoXear0MMLMAOgQ5cCYyFkycnd/3cIM0GKVRt+LEg9DDLx9ZtdftlJ/5mgMT7QpCRFpIZyzqNkV4t4B26SULR1pf6ZM0n+7lCwOeiR3sTGUHB3sLNRx6AfTN+CKUyDG40LtZ2Iym1md/VjjXLOlVFW0vaK9M2xNIAlEc0TWTauj4QBAenXS/x84cL9tqEBz/od2ERJX9XSMcWkM2q2Kslfgg56F03r1hkNs54iWwHW2gukwZf82z1JvQST0noMDdWfbEXQT+aGraXNaeJiT1VDi752WPDtg6e29ElpAxdROBbTgtuca1Kl+Ojh7YhI9CDq2PWR2nU8hXkimkxls/sVwOEKCQBLTyivOEMlqLtO0VPdKPV923pjx+w7fJxlfBMKRUJ8qrCyfijiZ4HzXyC/QL7VfbEawvQzZuk9/0s+Jli8uyoHZ71S24SeTCz+MtVp2rTBudPRC6nH78Fi8Osl3KGkpu2vFuIVvYBbt0q8iZlhGv7YmAOeEvbdmw7d0tWW00PzyTlDJiNurieYGArLip0TDUj9ef5Aqp9qcu5s1h+gscrCOJK9AV8d5i+P4+TC4Dw=
