@import url('../../common.less');

@headerSize: 66px;

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &.locked {
        overflow-y: hidden;
    }   

    .map-holder, .map-interaction-overlay, .map-nudge-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }

    .map-cta {
        width: 100%;
        position: fixed;
        top: -80px;
        right: 0;
        transition-property: top;
        transition-duration: 0.25s;
        transition-delay: 0.25s;
        background-image: linear-gradient(to bottom, rgba(44, 60, 59, 0.5), rgba(44, 60, 59, 0));
        padding: 6px 40px;
        
        &.visible {
            top: 0;
        }
    }

    .map-interaction-overlay {
        background-size: cover;
        background-position: center;

        &.map-init {
            opacity: 0;
        }
    }

    .map-nudge-overlay {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: stretch;

        .inner {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: flex-end;
            background-image: linear-gradient(to bottom, rgba(44, 60, 59, 0), rgba(44, 60, 59, 0.5) 100px);
            padding: 0 12px;
            margin-bottom: @headerSize;

            .close-button {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 18px;
                border: solid 1px #ffffff;
                background-image: url(../../assets/img/cross-white.svg);
                background-position: center;
                cursor: pointer;
                margin: 16px 20px;
                pointer-events: none;
                align-self: flex-start;
            }
            
            .from {
                width: 75%;
                font-size: 18px;
                color: @charcoal;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                background-color: #ffffff;
                border-radius: 8px;
                padding: 10px 16px;
                &.ltr {
                    border-top-right-radius: 0;
                }
                &:not(.ltr) {
                    border-top-left-radius: 0;
                }
            }

            .cta {
                align-self: center;
                padding: 6px 28px;
                .button {
                    span {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }

    > .content {
        background-color: #ffffff;
        position: relative;
        z-index: 30;
        transition-property: margin-top;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 0 16px;
        padding-bottom: 80px;

        > .sticky {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 2;
            height: @headerSize;

            > .handle {
                height: 32px;
                margin-bottom: -16px;
                padding: 0;
                padding-bottom: 16px;
                width: 100%;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;
                background: #fff;
    
                span {
                    width: 48px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #d8d8d8;
                }
                cursor: pointer;
            }
            > .header {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                background: #fff;
                border-bottom: 1px solid #f6f6f6;

                h1 {
                    font-size: 24px;
                    font-weight: normal;
                    color: @aubergine;
                    margin: 0;
                    flex-basis: 100%;
                }
                margin-bottom: 12px;
            }    
        }
        .hero {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            flex: 1 1 100%;
            padding: 0 16px;

            .map-thumbnail {
                width: 100%;
                height: 200px;
                cursor: pointer;
                margin: 12px 0;
                display: flex;
                background-size: cover;
                background-position: center;
                border-radius: 4px;
                border: solid 4px @white;
                position: relative;

                .enlarge {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: rgba(44, 60, 59, 0.5);
                    background-image: url(../../assets/img/resize-enlarge.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            h1 {
                margin-top: 12px;
                margin-bottom: 4px;
                font-size: 40px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                color: @aubergine;
            }
        
            h2 {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.2;
                color: @aubergine;
                margin: 4px 0;
                margin-bottom: 26px;
        
                &.moreinfo {
                    color: rgba(72, 10, 53, 0.5);
                    cursor: pointer;
                }    
            }
        
            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
                color: @aubergine;
                margin-bottom: 40px;

                a {
                    text-decoration: underline;
                }
            }
        
            .tabs {
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;

                .tab-selectors {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 8px;
                    background-color: rgba(0, 128, 124, 0.1);
                    margin-bottom: 32px;
                    margin-top: 26px;

                    .tab-selector {
                        font-size: 16px;
                        color: @bluegreen;
                        padding: 3px 8px;
                        cursor: pointer;

                        &.active {
                            border-radius: 5px;
                            background-color: @bluegreen;
                            color: #ffffff;
                        }
                    }
                }

                .tab-content {
                    width: 100%;

                    h1, h2 {
                        font-size: 24px;
                        font-weight: 500;
                        color: @aubergine;
                        margin: 4px 0;
                    }
                    h2 {
                        font-weight: 300;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        text-align: center;
                        color: #480935;
                        margin: 0;
                        margin-top: 40px;
                        margin-bottom: 8px;
                    }
                }
            }

            .logos {
                width: ~'calc(100% + 32px)';
                position: relative;
                overflow: hidden;

                &:not(.ltr) {
                    right: -16px;
                }
                &.ltr {
                    left: -16px;
                }
                height: 44px;

                .moving {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 0;
                    position: absolute;

                    img {
                        max-height: 44px;
                        margin: 0 16px;
                        max-width: 100px;
                    }

                    animation: 20s linear 0s infinite carousel;
                } 
            }

            .articles {
                direction: ltr;
                .article {
                    display: flex;
                    flex-flow: row;
                    margin-top: 16px;
                    margin-bottom: 8px;
                    align-items: flex-start;

                    img {
                        width: 80px;
                        flex: 0 0 auto;
                        object-fit: contain;
                        border: solid 1px @white;
                    }

                    a {
                        font-size: 16px;
                        font-weight: 300;
                        color: @aubergine;
                        text-decoration: none;
                        padding: 0 16px;

                        &:visited {
                            color: @aubergine;
                        }
                    }
                }
            }

            .thanks-logos {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                > * {
                    margin: 12px;
                    height: 50px;
                }
                img {
                    height: 50px;
                }
            }

            .credits {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: space-evenly;
                max-width: 100%;

                .credit {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    margin: 0 4px;
                    > img {
                        width: 96px;
                        height: 96px;
                        border-radius: 48px;
                        margin: 4px;
                        object-fit: cover;
                        object-position: 50% 40%;
                    }
                    > span {
                        font-size: 16px;
                        color: @aubergine;
                        display: block;
                        min-height: 45px;
                        max-width: 96px;
                        text-align: center;
                    }
                }
            }

            .media {
                width: 100%;
                position: relative;
                overflow: hidden;
                padding-top: 56.25%;
                &.youtube {
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                }
                &.weblink {
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }
            }

            .towns-title {
                font-size: 22px !important;
                font-weight: 300 !important;
                margin-bottom: 24px !important;
                color: @aubergine;
            }
    
            .towns-header {
                position: sticky;
                top: 60px;
                z-index: 1;
                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65px, rgba(255,255,255,0) 100%); 
                width: 100%;
                padding-top: 8px;
                margin-bottom: -16px;

                .towns-legend {
                    width: ~'calc(100% + 32px)';
                    overflow: hidden;
                    padding: 0 12px;
                    background-color: @white;
    
                    &:not(.ltr) {
                        margin-right: -16px;
                    }
                    &.ltr {
                        margin-left: -16px;
                    }
    
                    height: 30px;
                    border-radius: 4px;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    
                    .label {
                        font-size: 12px;
                        font-weight: 500;
                        color: @charcoal;
                    }
    
                    .tag {
                        font-size: 12px;
                        font-weight: normal;
                        color: #959d9d;
                    }
    
                    .legend {
                        direction: ltr;
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        padding: 0 2px;
        
                        .tag {
                            margin: 0 4px;
                        }
    
                        .square {
                            display: block;
                            width: 11px;
                            height: 8px;
                            margin: 0 0.5px;
    
                            &:nth-child(2) {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                            &:nth-last-child(2) {
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                        }
                    }
    
                    .sep {
                        width: 0;
                        border-right: solid 1px #ffffff;
                        height: 24px;
    
                        &:not(.ltr) {
                            margin-right: auto;
                            margin-left: 7px;
                        }
                        &.ltr {
                            margin-left: auto;
                            margin-right: 7px;
                        }
                    }
                    .noinfo {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        padding: 0 2px;
    
                        .square {
                            display: block;
                            width: 11px;
                            height: 8px;
                            margin: 0 2px;
                        }
                    }
                }

                .towns-dates {
                    width: 100%;
                    direction: ltr;
                    display: flex;
                    flex-flow: row;
                    &.ltr {
                        justify-content: flex-end;
                        padding-right: 60px;
                    }
                    &:not(.ltr) {
                        padding-left: 30px;
                    }
                    font-size: 12px;
                    font-weight: normal;
                    padding-top: 4px;

                    .single-date {
                        color: @cool-grey;
                        width: 0;
                        text-align: center;
                        position: relative;
                        &:first-child {
                            margin-right: 120px;
                        }
                        &:after {
                            content: '';
                            display: inline-block;
                            text-align: center;
                            position: relative;
                            width: 1px;
                            height: 12px;
                            top: 0px;
                            left: 12px;
                            border-right: dashed thin @cool-grey;
                        }
                    }
                    .label {
                        text-align: left;
                        margin-left: 30px;
                        color: @charcoal;
                        direction: rtl;
                    }
                    &.ltr {
                        .label {
                            direction: ltr;
                            display: none;
                        }
                    }
                }
            }


            .caption {
                .text {
                    font-size: 16px;
                    font-weight: 300;
                    color: #000000;
                }
                .tag {
                    font-size: 14px;
                    font-weight: 300;
                    color: @aubergine;
                    border-radius: 4px;
                    background-color: #efefef;
                    padding: 0 8px;
                }
                margin-top: 8px;
                margin-bottom: 32px;
                text-decoration: none;
            }
            a, a:visited {
                text-decoration: none;
                color: @aubergine;    
            }

            .links {
                margin-top: 80px;
                text-align: center;
                a, a:visited {
                    color: @aubergine;
                }
            }
            
            .canary {
                margin-top: 50px;
                align-self: center;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.5;
                color: @aubergine;
                text-align: center;
                max-width: 70%;   
                opacity: 0.5;
            }
        }
        
    }

    > .cta-holder {
        position: fixed;
        bottom: 0;
        flex: 0 0 auto;
        padding: 6px 16px;
        padding-top: 30px;
        width: 100%;
        background-image: linear-gradient(to bottom, #fff0 0%, #fff 40px, #fff 100%);
        z-index: 40;
        transition-property: bottom;
        transition-duration: 0.25s;
        transition-delay: 0.25s;
        opacity: 1;

        &.hidden {
            bottom: -80px;
        }
    }

    &.desktop {
        > .content {
            padding: 0 24px;
            .hero {
                padding: 0 40px;

                .logos {
                    .moving {
                        animation: none;
                    }
                }
            }
        }
    }
}

@keyframes carousel {
    from { transform: translateX(0); }
    to   { transform: translateX(50%); }
}
