<app-generic-page>
  <div class='content'>
    <div class='hero'>
      <h1 i18n appLtr>הי,<br/>
      חשוב לנו לדעת מה שלומך, באמת.</h1>
      <h2 i18n>
      כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
      </h2>
      <div class='appinstall' appLtr *ngIf='appinstall.showButton()'>
        <a (click)='appinstall.prompt()' *ngIf='appinstall.androidAvailable()'><img src='assets/img/google-play-badge.png'/></a>
        <a (click)='appinstall.prompt()' *ngIf='appinstall.iphoneAvailable()'><img src='assets/img/apple-appstore-badge.png'/></a>
      </div>
      <div class='logos' appLtr>
        <a href='https://www.weizmann.ac.il/' target='_blank'><img src='assets/img/weizmann-logo.png'/></a>
        <a href='https://www.hasadna.org.il/' target='_blank'><img src='assets/img/hasadna-logo.svg'/></a>
        <a href='https://www.clalit.co.il/' target='_blank'><img src='assets/img/clalit-logo.png'/></a>
      </div>
      <p i18n>
חוקרי מכון ויצמן למדע בשיתוף גורמי הבריאות פועלים כל העת כדי למפות את התפשטות הקורונה ולשמור על כולנו. שאלון זה נוצר כדי לסייע בחיזוי ואיתור של מוקדי ההתפשטות ולהגיע לחולים מהר יותר, על ידי הערכה של מספר האנשים בכל אזור שפיתחו תסמינים.
      </p>
      <p i18n>
עליך למלא את השאלון  פעם ביום, עבור כל בן משפחה בנפרד. חשוב שגם מי שחש בטוב ולא פיתח אף תסמין ימלא את השאלון.<br/>
השאלון אנונימי לחלוטין. 
      </p>
      <p i18n>
תודה לך! 🙏
      </p>
      <p i18n>
*חשוב לציין שהשאלון אינו נועד כדי לאבחן הידבקות בנגיף - אם את/ה חש/ה ברע, אנא פנה (מהבית) לגורמי הרפואה. 
      </p>
      <p i18n>
פרופסור ערן סגל, מכון ויצמן למדע
<br/>
פרופסור יובל דור, האוניברסיטה העברית
<br/>
פרופסור בנימין גיגר, מכון ויצמן למדע
<br/>
פרופסור רן בליצר, שירותי בריאות כללית
      </p>
      <div class='logos' appLtr>
        <a href='https://www.weizmann.ac.il/' target='_blank'><img src='assets/img/weizmann-logo.png'/></a>
        <a href='https://www.hasadna.org.il/' target='_blank'><img src='assets/img/hasadna-logo.svg'/></a>
        <a href='https://www.clalit.co.il/' target='_blank'><img src='assets/img/clalit-logo.png'/></a>
      </div>
      <div class='logos' appLtr>
        <img src='assets/img/migdal-logo.svg'/>
        <img src='assets/img/final-logo.svg'/>
      </div>
      <div class='links'>
        <a href='https://www.hasadna.org.il/coronabot/participant-form' i18n target='_blank'>טופס השתתפות</a>&nbsp;|&nbsp;
        <a href='https://www.hasadna.org.il/coronabot/privacy' i18n target='_blank'>מדיניות פרטיות</a><br/>
        <a href="mailto:coronabot@hasadna.org" i18n>יצירת קשר</a>&nbsp;|&nbsp;
        <a href='https://github.com/hasadna/avid-covider' i18n target='_blank'>קוד המקור</a>&nbsp;|&nbsp;
        <span i18n>גירסא</span>&nbsp;<span>{{version}}</span>
      </div>
      <div class='canary'>נכון להיום לא התבקשנו למסור מידע על משתמשים שלנו לרשויות הבטחון, או לאסוף מידע שאינו מפורט במדיניות הפרטיות שלנו.
      ניתן לבדוק אם חל שינוי בנושא בכל עת בעמוד זה.</div>

      <div class='canary'>
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </div>
    </div>
  </div>
  <div class='footer'>
    <div class='cta' *ngIf='!autostart'>
      <span class='button' (click)='chat.emit()'><span i18n>בהחלט, בואו נתחיל</span></span>
    </div>
  </div>
</app-generic-page>

<span class='placeholder-tx' i18n #notificationTitle>זמן לדיווח הבריאות היומי!</span>
<span class='placeholder-tx' i18n #notificationAction>לדיווח היומי</span>
<span class='placeholder-tx' i18n #notificationBody>הגיע הזמן לדווח שוב כיצד אתם מרגישים! רק ביחד ננצח את הקורונה 💪🏽!</span>