<div class='container' [class.locked]='fullMap' 
    (touchmove)='pullRefresh($event)' (touchstart)='pullRefreshStart($event)' #container>
  <div class='map-holder' *ngIf='layout.mobile'>
    <app-heatmap [closeButton]='false' [padding]='0' *ngIf='mapInit'></app-heatmap>
  </div>
  <div class='map-cta' *ngIf='layout.mobile' [class.visible]='fullMap && !nudgeNeeded()'>
    <div class='cta' *ngIf='startButton'>
      <span class='button' (click)='chat.emit()'><span i18n>עדכון הבריאות היומי שלי</span></span>
    </div>
  </div>
  <div class='map-nudge-overlay' *ngIf='layout.mobile && fullMap && nudgeNeeded()' (click)='closeNudge()'>
    <div class='inner'>
      <div class='close-button'></div>
      <div class='from' i18n>הי, המפה איננה שלמה בלעדיך…<br/>
  רצינו רק להזכיר לך לשלוח לנו את העדכון היומי. טוב?</div>
      <div class='cta'>
        <span class='button' (click)='chat.emit()'><span i18n>הא, נכון! אעשה זאת עכשיו…</span></span>
      </div>
    </div>
  </div>
  <div class='map-interaction-overlay' *ngIf='layout.mobile && !fullMap' (mousedown)='fullMap=true' [class.map-init]='mapInit'
       [style.background-image]='"url(" + mapService.static() + ")"'>  
  </div>

  <div class='content' [style.margin-top]='top + "px"'>
    <div class='sticky'>
      <div class='handle' (mousedown)='toggleIfScrolledDown($event, true)' (touchstart)='toggleIfScrolledDown($event, true)' *ngIf='layout.mobile'>
        <span></span>
      </div>
      <div class='header'>
        <h1 i18n  (mousedown)='toggleIfScrolledDown($event)' (touchstart)='toggleIfScrolledDown($event)'>קורונה: מפת חום</h1>
        <app-header *ngIf='!fullMap'></app-header>
      </div>
    </div>
    <div class='hero'>
      <div class='map-thumbnail' *ngIf='layout.desktop' (click)='mapService.openMap()' [style.background-image]='"url(" + mapService.static() + ")"'>
      </div>
      <h1 i18n appLtr>לפני הכל,<br/>
      מה שלומך? באמת.</h1>
      <h2 i18n>
      כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
      </h2>
      <div class='appinstall' appLtr *ngIf='appinstall.showButton()'>
        <a (click)='appinstall.prompt("play")' *ngIf='appinstall.androidAvailable()'><img src='assets/img/google-play-badge.png'/></a>
        <a (click)='appinstall.prompt("itunes")' *ngIf='appinstall.iphoneAvailable()' class='iphone'><img src='assets/img/apple-appstore-badge.png'/></a>
      </div>
      <div class='logos' appLtr>
        <a href='https://www.weizmann.ac.il/' target='_blank'><img src='assets/img/weizmann-logo.png'/></a>
        <a href='https://www.hasadna.org.il/' target='_blank'><img src='assets/img/hasadna-logo.svg'/></a>
        <a href='https://www.clalit.co.il/' target='_blank'><img src='assets/img/clalit-logo.png'/></a>
      </div>
      <p i18n>
    חוקרי מכון ויצמן למדע בשיתוף גורמי הבריאות פועלים כל העת כדי למפות את התפשטות הקורונה ולשמור על כולנו. שאלון זה נוצר כדי לסייע בחיזוי ואיתור של מוקדי ההתפשטות ולהגיע לחולים מהר יותר, על ידי הערכה של מספר האנשים בכל אזור שפיתחו תסמינים.
      </p>
      <p i18n>
    עליך למלא את השאלון  פעם ביום, עבור כל בן משפחה בנפרד. חשוב שגם מי שחש בטוב ולא פיתח אף תסמין ימלא את השאלון.<br/>
    השאלון אנונימי לחלוטין. 
      </p>
      <p i18n>
    תודה לך! 🙏
      </p>
      <p i18n>
    *חשוב לציין שהשאלון אינו נועד כדי לאבחן הידבקות בנגיף - אם את/ה חש/ה ברע, אנא פנה (מהבית) לגורמי הרפואה. 
      </p>
      <p i18n>
    פרופסור ערן סגל, מכון ויצמן למדע
    <br/>
    פרופסור יובל דור, האוניברסיטה העברית
    <br/>
    פרופסור בנימין גיגר, מכון ויצמן למדע
    <br/>
    פרופסור רן בליצר, שירותי בריאות כללית
      </p>
      <div class='logos' appLtr>
        <a href='https://www.weizmann.ac.il/' target='_blank'><img src='assets/img/weizmann-logo.png'/></a>
        <a href='https://www.hasadna.org.il/' target='_blank'><img src='assets/img/hasadna-logo.svg'/></a>
        <a href='https://www.clalit.co.il/' target='_blank'><img src='assets/img/clalit-logo.png'/></a>
      </div>
      <div class='logos' appLtr>
        <img src='assets/img/migdal-logo.svg'/>
        <img src='assets/img/final-logo.svg'/>
        <img src='assets/img/gfs-logo.svg'/>
      </div>
      <div class='links'>
        <a href='https://www.hasadna.org.il/coronabot/participant-form' i18n target='_blank'>תנאי ההשתתפות במחקר</a>&nbsp;|&nbsp;
        <a href='https://www.hasadna.org.il/coronabot/privacy' i18n target='_blank'>מדיניות פרטיות</a><br/>
        <a href="mailto:coronabot@hasadna.org" i18n>יצירת קשר</a><br/>
        <p>
          <span i18n>לפניות עיתונאים וכלי תקשורת - ניר הירשמן</span>&nbsp;<a href='mailto:info@nirshman.com' target='_blank'>info@nirshman.com</a>
        </p>
        <p>
          <a href='https://github.com/hasadna/avid-covider' i18n target='_blank'>קוד המקור</a>&nbsp;|&nbsp;
          <span i18n>גירסא</span>&nbsp;<span>{{version}}</span>
        </p>
      </div>
      <div class='canary'>נכון להיום לא התבקשנו למסור מידע על משתמשים שלנו לרשויות הבטחון, או לאסוף מידע שאינו מפורט במדיניות הפרטיות שלנו.
      ניתן לבדוק אם חל שינוי בנושא בכל עת בעמוד זה.</div>
    </div>
  </div>

  <div class='cta-holder' [class.hidden]='fullMap'>
    <div class='cta' *ngIf='startButton'>
      <span class='button' (click)='chat.emit()'><span i18n>עדכון הבריאות היומי שלי</span></span>
    </div>
  </div>
<div>

<span class='placeholder-tx' i18n #notificationTitle>זמן לדיווח הבריאות היומי!</span>
<span class='placeholder-tx' i18n #notificationAction>לדיווח היומי</span>
<span class='placeholder-tx' i18n #notificationBody>הגיע הזמן לדווח שוב כיצד אתם מרגישים! רק ביחד ננצח את הקורונה 💪🏽!</span>