<div class='chat'>
  <htl-hatool [content]='content' appLtr></htl-hatool>
</div>
<span class='placeholder-tx' i18n #uploadFileText>לחצ/י לבחירת קובץ</span>
<span class='placeholder-tx' i18n #uploadedFileText>קובץ הועלה בהצלחה</span>
<span class='placeholder-tx' i18n #notUploadedFileText>תקלה בהעלאת קובץ</span>
<span class='placeholder-tx' i18n #inputPlaceholder>הקלידו הודעה...</span>
<span class='placeholder-tx' i18n #notificationTitle>זמן לדיווח הבריאות היומי!</span>
<span class='placeholder-tx' i18n #notificationAction>דווח עכשיו</span>
<span class='placeholder-tx' i18n #notificationBody>הגיע הזמן לדווח שוב כיצד אתם מרגישים! רק ביחד ננצח את הקורונה 💪🏽!</span>