<div class='container' [class.started]='started'>
  <div class='more-info-box' *ngIf='moreInfoVisible'>
    <div class='header'>
      <div class='help' (click)='moreInfoVisible = false'>
        <span class='close'>
          <i class='fas fa-chevron-right'></i>
          <span i18n>חזרה<br/>לדיווח</span>
        </span>
      </div>
      <div class='title' i18n>נלחמים בקורונה ביחד</div>
    </div>
    <div class='content'>
      <p i18n>אתר זה נועד לסייע באיתור התפרצויות מקומיות של קורונה</p>
      <!--ul>
        <li i18n>איסוף ותיעוד מידע מנפגע/ת אירוע גזענות ואפליה.</li>
        <li i18n>הכרות הזכויות והפעולות בהן הנפגע/ת יכול/ה לנקוט.</li>
        <li i18n>יצירת קשר עם גופים רלוונטים במגזר הציבורי.</li>
        <li i18n>שיתוף המידע וקבלת סיוע מארגוני מגזר השלישי רלוונטיים.</li>
      </ul-->
      <div class='images'>
        <a href='https://www.hasadna.org.il' target='_blank'><img src='assets/img/hasadna.png'/></a>
        <!--a href='https://www.acri.org.il' target='_blank'><img src='assets/img/acri.webp'/></a-->
      </div>
      <h4 i18n>מדיניות פרטיות</h4>
      <p i18n>מאחר שהעמותות המפעילות את מערכת הצ'אט לאיתור מוקדם של התפרצות קורונה (להלן "הצ'אט"), הסדנא לידע ציבורי (להלן "העמותה"), מכבדות את פרטיות המשתמשים בצ'אט, הפועל בכתובת האינטרנט [domain], החליטו העמותות לפרסם את מדיניותן ביחס להגנת הפרטיות בצ'אט, והן מתחייבות כלפי המשתמשים לקיים מדיניות זו.</p>
      <p i18n>מטרת המדיניות להסביר מהם נוהגי העמותות ביחס לפרטיות המשתמשים בצ'אט, וכיצד משתמשות העמותות במידע, הנמסר להן על-ידי המשתמשים בצ'אט או הנאסף על-ידן בעת השימוש בצ'אט. </p>
      
      <h4 i18n>דיווח על פגיעה בפרטיותך:</h4>
      <p i18n>אם את/ה חושב/ת שפרטיותך נפגעה במהלך השימוש בצ'אט, אנא פנו לעמותות באמצעות כתובת הדוא"ל: email@hasadna.org.il.</p>

      <h4 i18n>מידע שנאסף במהלך השימוש בצ'אט </h4>
      <p i18n>בעת שימוש בצ'אט הנך מתבקש/ת למסור פרטי אמצעי ליצירת קשר (מייל, טלפון וכו') וכן פרטים אודות האירוע שבענייננו הנך פונה לצ'אט והכל לצורך הטיפול בתלונה. ניתן להישאר בעילום שם בעת השימוש בצ'אט. הפרטים שתמסור/תמסרי בצ'אט יועברו לנציגים בעמותות לצורך טיפול בתלונה. אינך חייב/ת על פי חוק למסור את הפרטים והמידע האישי. אולם ללא מסירת פרטים ליצירת קשר, לא נוכל להמשיך בטיפול בתלונה ולסייע לך. </p>

      <h4 i18n>מאגר המידע </h4>
      <p i18n>הנתונים שנאספים ממשתמשי הצ'אט יישמרו במאגר המידע של העמותות ובאחריותן.</p>

      <h4 i18n>השימוש במידע</h4>
      <p i18n>השימוש במידע שנאסף, ייעשה רק על פי מדיניות פרטיות זו על מנת לטפל בתלונה הפרטנית. כמו כן, לצרכי זיהוי מגמות של גילויי גזענות וטיפול מערכתי בגזענות, ייעשה שימוש סטטיסטי במידע שנאסף שאין בו כל מימד אישי שעלול לזהות את המשתמש. </p>

      <h4 i18n>מסירת מידע לצד שלישי </h4>
      <p i18n>העמותות לא יעבירו לצדדים שלישיים את פרטיך האישיים וכל מידע אחר שמסרת בצ'אט  אלא אם נתת את הסכמתך להעברת התלונה לטיפול בידי רשות שלטונית רלוונטית או לטיפול של עמותה אחרת. </p>

      <h4 i18n>Cookies</h4>
      <p i18n>אתר החברה  משתמש ב"עוגיות" (Cookies) לצורך תפעולם השוטף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, כדי להתאים את האתר להעדפותיך האישיות ולצורכי אבטחת מידע.</p>
      <p i18n>דפדפנים מודרניים כוללים אפשרות להימנע מקבלת Cookies. אם אינך יודע/ת כיצד לעשות זאת, בדוק בקובץ העזרה של הדפדפן שבו את/ה משתמש/ת.</p>

      <h4 i18n>אבטחת מידע</h4>
      <p i18n>העמותות מיישמות במערכת הצ'אט מערכות ונהלים עדכניים לאבטחת מידע. בעוד שמערכות ונהלים אלה מצמצמים את הסיכונים לחדירה בלתי-מורשית, אין הם מעניקים בטחון מוחלט. לכן, העמותות לא מתחייבות שהמערכת תהיה חסינה באופן מוחלט מפני גישה בלתי-מורשית למידע המאוחסן בה. </p>

      <h4 i18n>זכות לעיין במידע </h4>
      <p i18n>על-פי חוק הגנת הפרטיות, התשמ"א - 1981, כל אדם זכאי לעיין במידע שעליו המוחזק במאגר מידע. אדם שעיין במידע שעליו ומצא כי אינו נכון, שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע בבקשה לתקן את המידע או למוחקו. פנייה כזאת יש להפנות אל email@acri.org.il.</p>

      <h4 i18n>שינויים במדיניות הפרטיות </h4>
      <p i18n>בכל מקרה בו יבוצעו במדיניות זו שינויים מהותיים בהוראות שעניינן השימוש במידע אישי שמסרת, תפורסם על-כך הודעה באתר הפרוייקט.</p>

      <hr/>
      <!--div class='images'>
        <a href='https://europa.eu/european-union/about-eu_en' target='_blank'><img src='assets/img/eu.svg'/></a>
      </div>
      <p class='center' i18n>
        Funded by the European Union. The content of this site should in no way be considered to reflect the view of the European Union.
      </p-->
    </div>
  </div>
  <div class='introduction'>
    <div class='header'>
    </div>
    <div class='hero'>
      <h1 i18n>הי,<br/>
      חשוב לנו לדעת מה שלומך, באמת.</h1>
      <div class='cta'>
        <span class='button' (click)='start()' i18n>בהחלט, בואו נתחיל <i class="fas fa-chevron-left"></i></span>
        <!-- <span class='moreinfo' (click)='moreInfoVisible = !moreInfoVisible' i18n>מידע נוסף</span> -->
      </div>
      <div class='explanation' [class.active]='helpVisible'>
        <div class='content'>
          <p i18n>
          כולנו מעדכנים כל יום על מצב בריאותנו כדי להגין על הורינו וילדינו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
          </p>
          <p il18n>
          חוקרי מכון וייצמן למדע בשיתוף גורמי הבריאות פועלים כל העת כדי למפות את התפשטות הקורונה ולשמור על כולנו, שאלון זה נוצר כדי לסייע בחיזוי ואיתור של מוקדי ההתפשטות ולהגיע לחולים מהר יותר, על ידי הערכה של מספר האנשים בכל אזור שפיתחו תסמינים.
          </p>
          <p il18n>
          עליך למלא את השאלון פעם ביום, עבור כל בן משפחה בנפרד. חשוב שגם מי שחש בטוב ולא פיתח אף תסמין ימלא את השאלון.<br>
          השאלון אנונימי לחלוטין.
          <br/>
          תודה לך!
          </p>
          <p il18n>
            * חשוב לציין שהשאלון אינו נועד כדי לאבחן הידבקות בנגיף- אם את/ה חש/ה ברע, אנא פנה (מהבית) לגורמי הרפואה. <br/><br/>
            פרופסור ערן סגל, מכון ויצמן למדע<br/>
            פרופסור יובל דור, האוניברסיטה העברית<br/>
            פרופסור בנימין גיגר, מכון ויצמן למדע<br/>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='chat'>
    <div class='header'>
      <div class='help' [class.active]='moreInfoVisible' (click)='moreInfoVisible = !moreInfoVisible'>
        <span class='question'>?</span>
      </div>
      <div class='title' i18n>נלחמים בקורונה ביחד</div>
    </div>
    <htl-hatool></htl-hatool>
  </div>
</div>

<span class='placeholder-tx' i18n #uploadFileText>לחצ/י לבחירת קובץ</span>
<span class='placeholder-tx' i18n #uploadedFileText>קובץ הועלה בהצלחה</span>
<span class='placeholder-tx' i18n #notUploadedFileText>תקלה בהעלאת קובץ</span>
<span class='placeholder-tx' i18n #inputPlaceholder>הקלידו הודעה...</span>