<div class='container' [class.started]='started'>
  <div class='more-info-box' *ngIf='moreInfoVisible'>
    <div class='header'>
    </div>
    <div class='content'>
      <div class='text'>
        <p i18n class='bigger'>
              כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
        </p>
        <p i18n>
חוקרי מכון ויצמן למדע בשיתוף גורמי הבריאות פועלים כל העת כדי למפות את התפשטות הקורונה ולשמור על כולנו. שאלון זה נוצר כדי לסייע בחיזוי ואיתור של מוקדי ההתפשטות ולהגיע לחולים מהר יותר, על ידי הערכה של מספר האנשים בכל אזור שפיתחו תסמינים.
        </p>
        <p i18n>
עליך למלא את השאלון  פעם ביום, עבור כל בן משפחה בנפרד. חשוב שגם מי שחש בטוב ולא פיתח אף תסמין ימלא את השאלון.<br/>
השאלון אנונימי לחלוטין. 
        </p>
        <p i18n>
תודה לך! 🙏
        </p>
        <p i18n>
*חשוב לציין שהשאלון אינו נועד כדי לאבחן הידבקות בנגיף - אם את/ה חש/ה ברע, אנא פנה (מהבית) לגורמי הרפואה. 
        </p>
        <p i18n>
פרופסור ערן סגל, מכון ויצמן למדע
<br/>
פרופסור יובל דור, האוניברסיטה העברית
<br/>
פרופסור בנימין גיגר, מכון ויצמן למדע
        </p>
        <div class='logos'>
          <img src='assets/img/weizmann-logo.png'/>
          <img src='assets/img/hasadna-logo.svg'/>
        </div>
        <div class='logos'>
          <img src='assets/img/migdal-logo.svg'/>
        </div>
        <div class='links'>
          <a href='privacy.com' i18n target='_blank'>מדיניות פרטיות</a>&nbsp;|&nbsp;<a href='https://github.com/hasadna/avid-co' i18n target='_blank'>קוד המקור</a>
        </div>
      </div>
      <div class='cta'>
        <span class='button' (click)='start()' i18n>בהחלט, בואו נתחיל</span>
      </div>
    </div>
  </div>
  <div class='thank-you-box' *ngIf='thankYouVisible'>
    <div class='header'>
    </div>
    <div class='content'>
      <h1 i18n>
תודה רבה,<br/>
בזכותך התקרבנו עוד צעד אחד לסוף של זה…
      </h1>
      <h2 i18n>
כדאי לשתף את הקישור עם בני משפחה וחברים, חשוב שכולם יתרגלו לדווח כל יום.
זה המעט שאנחנו יכולים לעשות…
      </h2>

      <div class='copybox'>
        <div class='url'>https://coronadaily.org</div>
        <div class='ic'><img src='assets/img/copy-icon.svg'></div>
      </div>

      <div class='share-text' i18n>ילדים בבית? מבוגרים?</div>

      <div class='cta'>
        <span class='button' (click)='restart()' i18n>אפשר לשלוח עדכון נוסף</span>
      </div>
    </div>
  </div>

  <div class='introduction' *ngIf='!moreInfoVisible'>
    <div class='header'>
    </div>
    <div class='hero'>
      <h1 i18n>הי,<br/>
      חשוב לנו לדעת מה שלומך, באמת.</h1>
      <h2 i18n>
      כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו.
      </h2>
      <h2 class='moreinfo' (click)='moreInfoVisible = !moreInfoVisible' i18n>עוד על המחקר…</h2>
      <div class='logos'>
        <img src='assets/img/weizmann-logo.png'/>
        <img src='assets/img/hasadna-logo.svg'/>
      </div>
      <div class='cta'>
        <span class='button' (click)='start()' i18n>בהחלט, בואו נתחיל</span>
      </div>

    </div>
  </div>
  <div class='chat'>
    <div class='header'>
      <div class='help' [class.active]='thankYouVisible' (click)='thankYouVisible = !thankYouVisible'>
        <span class='question'>?</span>
      </div>
      <div class='title' i18n>נלחמים בקורונה ביחד</div>
    </div>
    <htl-hatool [content]='content'></htl-hatool>
  </div>
</div>

<span class='placeholder-tx' i18n #uploadFileText>לחצ/י לבחירת קובץ</span>
<span class='placeholder-tx' i18n #uploadedFileText>קובץ הועלה בהצלחה</span>
<span class='placeholder-tx' i18n #notUploadedFileText>תקלה בהעלאת קובץ</span>
<span class='placeholder-tx' i18n #inputPlaceholder>הקלידו הודעה...</span>