<div class='container' appLtr>
  <div class='pane first'>
    <app-intro-page *ngIf='ls.desktop && ftab==="intro"' (info)='ftab="info"' (chat)='tab="chat"' [autostart]='true' [startButton]='false'></app-intro-page>
  </div>
  <div class='pane second'>
    <app-intro-page *ngIf='ls.mobile && tab==="intro"' (info)='tab="info"' (chat)='tab="chat"'></app-intro-page>
    <app-chat-page *ngIf='tab==="chat"' (done)='tab="intro"; ftab="intro"'></app-chat-page>
  </div>
  <app-fullscreen-map *ngIf='mapService.mapVisible'></app-fullscreen-map>
</div>
