<app-heatmap [closeButton]='!overlayVisible()' [infoButton]='!overlayVisible()'></app-heatmap>
<div class='overlay' *ngIf='overlayVisible()'>
  <h1 i18n>קורונה:<br/>מפת חום</h1>
  <h2 i18n>המפה הזו שותפה על ידי אחד מאלפי האזרחים שמדווחים בכל יום על מצבם הרפואי. דיווח יומיומי קבוע שלך יבטיח את עדכניות ושיפור המפה ויסייע לצוות ממכון ויצמן במחקר.</h2>
  <div class='close-overlay' (click)='mapService.closeOverlay()' i18n>למפה</div>
  <h2 i18n>לא לשכוח לדווח ואנחנו מקווים לראותך גם מחר&hellip;</h2>
</div>
<div class='cta' *ngIf='mapService.needsToReport() && !layout.desktop'>
  <span class='button' (click)='mapService.closeMap()'><span i18n>גם אני רוצה לדווח</span></span>
</div>
<div class='cta' *ngIf='mapService.needsToReport() && layout.desktop'>
  <span class='button' (click)='mapService.closeMap()'><span i18n>להמשך הדיווח</span></span>
</div>
<div class='cta' *ngIf='!mapService.needsToReport()'> 
  <span class='button' (click)='mapService.closeMap()'><span i18n>שיתוף השאלון והמפה</span></span>
</div>
