<app-generic-page>
  <div class='content'>
    <h1 i18n appLtr>
תודה רבה,<br/>
בזכותך התקרבנו עוד צעד אחד לסוף של זה…
    </h1>
    <h2 i18n>
כדאי לשתף את הקישור עם בני משפחה וחברים, חשוב שכולם יתרגלו לדווח כל יום.
זה המעט שאנחנו יכולים לעשות…
    </h2>

    <div class='copybox'>
      <div class='url'>https://coronaisrael.org</div>
      <div class='ic' (click)='share()'><img src='assets/img/copy-icon.svg'></div>
    </div>
    <div class='copied-text' i18n [class.copied]='copied'>הועתק ללוח</div>

  </div>

  <div class='footer'>
    <div class='share-text' i18n>ילדים? מבוגרים?</div>

    <div class='cta'>
      <span class='button' (click)='restart.emit()' i18n>מלאו עבורם שאלון נוסף</span>
    </div>
    
    <ng-container *ngIf='notifications.showNotificationBox'>
      <div class='cta'>
        <span class='button' (click)='notifications.addNotification()' i18n>הזכירו לי למלא את השאלון מחר</span>
      </div>
    </ng-container>

    <ng-container *ngIf='calendarSupported'>
      <div class='cta'>
        <span class='button' (click)='downloadCalendar()' i18n>הוספת תזכורת יומית ביומן</span>
      </div>
    </ng-container>
  </div>
</app-generic-page>

<span class='placeholder-tx' i18n #calednarTitle>זמן לדיווח הבריאות היומי!</span>
<span class='placeholder-tx' i18n #calendarBody>הגיע הזמן לדווח שוב כיצד אתם מרגישים! רק ביחד ננצח את הקורונה 💪🏽!</span>