<div class='thank-you-box'>
  <app-header></app-header>
  <div class='content'>
    <h1 i18n appLtr>
תודה רבה,<br/>
בזכותך התקרבנו עוד צעד אחד לסוף של זה…
    </h1>
    <h2 i18n>
כדאי לשתף את הקישור עם בני משפחה וחברים, חשוב שכולם יתרגלו לדווח כל יום.
זה המעט שאנחנו יכולים לעשות…
    </h2>

    <div class='copybox'>
      <div class='url'>https://coronaisrael.org</div>
      <div class='ic' (click)='share()'><img src='assets/img/copy-icon.svg'></div>
    </div>

    <div class='share-text' i18n>ילדים? מבוגרים?</div>

    <div class='cta'>
      <span class='button' (click)='restart.emit()' i18n>מלאו עבורם שאלון נוסף</span>
    </div>
  </div>
</div>
