htl-hatool {
    flex: 1 1 100%;
    height: auto;

    htl-chatbox {
        border: none;

        htl-messages {
            border: none;
        
            .container {
                color: #000;
                font-size: 16px;
                font-weight: 300;
                line-height: normal;
                padding: 0 20px;
                padding-bottom: 35px;
                background-color: #f6f6f6;
                scroll-behavior: smooth;
                
                color: black;
        
                text-align: left;

                .speech-bubble {
                    position: relative;
                    margin: 0;
                }

                .fixme {
                    font-family: Abraham;
                    font-size: 18px;
                    color: rgba(44, 60, 59, 0.5);                        
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    margin: 0 5px;
                    cursor: pointer;

                    img {
                        margin: 0 5px;
                    }
                }

                htl-message-from {   
                    .message-from-wrapper {
                        margin-bottom: 24px;
                        align-items: center !important;
                        p {
                            padding: 11px 16px;
                        }    
                
                        .speech-bubble {
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 0px;
                            border-top-left-radius: 8px;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                            background-color: #2c3c3b;
                            color: #fff;
                        }
                    }               

                }
               
                htl-message-to {
                    padding: 0 2px 4px;
                    overflow: visible;

                    p {
                        padding: 11px 16px;
                        font-size: 18px;
                    }

                    .message-to-wrapper {
                        .speech-bubble {
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px;
                            border-top-left-radius: 0px;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                            background-color: #fff;
                            color: #2c3c3b;
                        }
                    }

                    animation: button-appearance 0.75s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
                    // transition-duration: 0.5s;
                    // transition-timing-function: ease;
                }

                htl-message-options {
                    display: flex;
                    justify-content: flex-start;

                    .options {
                        display: flex !important;
                        flex-flow: column !important;
                        align-items: flex-start;
                        min-width: 70%;
                        padding-top: 16px;
                        margin-bottom: 24px;

                        button {
                            padding: 5px 20px;
                            border-radius: 18px;
                            border: solid 1px #6ededa;
                            margin: 2px 0px;
                            min-width: 30%;
                            color: #1a7f4e;
                            background-color: #f6f6f6;
                            width: 100%;
                            animation: button-appearance 0.75s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;

                            .button-delays(20);

                            .button-delays(@n, @i: 1) when (@i =< @n) {
                                &:nth-child(@{i}) {
                                    animation-delay: ((@i - 1) * 100ms);
                                }
                                .button-delays(@n, (@i + 1));
                            }

                            &.other {
                                background-color: #d9f2f1
                            }
                            &.disabled {
                                color: #888;
                                border-color: #888;
                                pointer-events: none;
                            }
    
                            &.selected {
                                margin: 0;
                                padding: 11px 16px;
                                min-width: 0;
                                border: none;
                                border-top-right-radius: 8px;
                                border-bottom-left-radius: 8px;
                                border-bottom-right-radius: 0px;
                                border-top-left-radius: 8px;
                                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                                background-color: #2c3c3b;
                                color: #fff;
                                width: auto;
                                text-align: right;
                            }

                            &.not-selected {
                                display: none;
                            }

                            /* &:tap ?? */
                        }

                        .fixme {
                            display: none;
                        }

                        &.selected {
                            flex-flow: row !important;
                            align-items: center;
                            justify-content: flex-start;
                            .fixme {
                                display: flex;
                            }
                        }
                    }

                }

                htl-message-uploader {

                    .button {
                        border-radius: 7px;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                        border: dashed 1px #6ddea1;
                        width: 100%;
                        padding: 18px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        color: #1a7f4e;
                        cursor: pointer;
                        position: relative;

                        .message {
                            z-index: 1;

                            &:before {
                                content: '';
                                display: inline-block;
                                width: 20px;
                                height: 20px;   
                                background-image: url('assets/img/upload.svg');
                                background-position: center center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                vertical-align: text-bottom;
                                margin-left: 7px;    
                            }
                        }

                        .progress {
                            height: 100% !important;
                            width: 100% !important;
                            border-radius: 7px;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: transparent !important;

                            .bar {
                                height: 100%;
                                width: 100%;
                                opacity: 0.1;
                                border-radius: 7px;
                                background-image: radial-gradient(circle at 14% 0, #61ce9c, #6ddea1);                            }
                        }

                        &.success {
                            border: solid 1px #3fb073;
                            background-image: radial-gradient(circle at 14% 0, #61ce9c, #6ddea1);
                            color: white;
                            
                            .message {
                                &:before {
                                    background-image: url('assets/img/uploaded.svg');
                                }
                            }
                        }
                    }
                }

                htl-message-typing {
                    justify-content: center;
                    .typing__bullet {
                        background-color: #6ddea1 !important;
                    }
                    display: none;
                }
            }
        }

        htl-input {
            padding: 16px;
            background-color: #f6f6f6;

            .input {
                align-items: stretch !important;
                input {
                    border-radius: 0;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border: solid 1px #89a9a8;
                    background-color: #fff;

                    font-size: 16px;
                    padding: 7px 12px;

                    border-left: none;

                    &:focus {
                        outline: none;
                        background: #fff;
                    }
                }

                button {

                    border: none;
                    width: 46px;
                    height: auto;
                    min-height: 100%;
                    margin-right: 0;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
    
                    background-color: #00807c;
                    background-image: url('assets/img/send.svg');
                    background-position: center center;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }

                &.invalid {
                    input {
                        border: solid 1px #959d9d;
                        background-color: #f6f6f6;    
                        border-left: none;
                    }

                    button {
                        border: solid 1px #959d9d;
                        background-color: #f6f6f6;
                        background-image: url('assets/img/send-disabled.svg');
                        border-right: none;
                    }
                }
            }


            .textarea {
                border-radius: 5px;

                textarea {
                    max-height: 39px;
                    font-size: 16px;
                    align-self: flex-end;               
                    border-radius: 5px;
                    border-radius: 12px;
                    border: solid 1px #e4e4e4;
                    background-color: #ffffff;
                    z-index: 2;
                }
            }            
        }
    }

    &.ltr {
        htl-chatbox {
            htl-messages {
                .container {
                    scroll-behavior: smooth;
                    text-align: right;
                    htl-message-from {
                        .speech-bubble {
                            border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 8px;    
                        }
                    }
                    htl-message-to {
                        .message-to-wrapper {
                            .speech-bubble {
                                border-top-right-radius: 0px;
                                border-top-left-radius: 8px;
                            }
                        }
                    }
                }
            }
            htl-message-options {
                button.active.selected {
                    text-align: left;
                }
            }
            htl-input {
                .input {
                    input {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-left: solid 1px #89a9a8;
                        &:disabled {
                            border: solid 1px #959d9d;
                            background-color: #f6f6f6;    
                        }
                        border-right: none;    
                    }
                    button {
                        transform: scaleX(-1);
                    }

                    &.invalid {
                        input {
                            border: solid 1px #959d9d;
                            border-right: none;    
                        }
                    }
                }
            }
        }
    }
}

@keyframes button-appearance {
    // 0%   { height: 0; overflow: hidden; opacity: 0; }
    // 1%   { height: auto; display: inherit }
    // 100% { opacity: 1; }
    0% {
        transform: translateY(20px);
        // transform-origin: 50% 100%;
        // filter: blur(10px);
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
    100% {
        transform: translateY(0);
        // transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
        height: auto;
        overflow: auto;
      }
    }