<div class='container' [style.padding]='padding + "px"'>
  <div id='fullscreen-map'>
  </div>
  <div class='close-button' (click)='mapService.closeMap()' *ngIf='!infoboxActive && closeButton'></div>
  <div class='question-button' (click)='infoboxActive = !infoboxActive' [class.active]='infoboxActive' *ngIf='infoButton'>?</div>
  <div class='infobox' *ngIf='infoboxActive' (click)='infoboxActive=false' [class.desktop]='layout.desktop'>
    <div class='close-button'></div>
    <div class='infobox-content'>
      <h3 i18n>קורונה:<br/>
      מפת חום</h3>

      <p i18n>המפה מציגה מידע שנאסף משאלונים אנונימיים שמילאו אנשים כמוך.</p>
      <p i18n>האזורים צבועים על פי רמת תסמיני קורונה לפי 
      <a href='https://www.medrxiv.org/content/10.1101/2020.05.18.20105569v1.article-info' target='_blank'>המודל המחקרי של מכון ויצמן.</a>
       מסגול <span class='band5 band-square'></span>
       - רמה גבוהה מאוד (1.2% ומעלה) עד צהוב
       <span class='band0 band-square'></span>
        - רמה נמוכה מאוד (0.8% ומטה).</p>
      <p i18n>ערים ושכונות בהן התקבלו כמות גדולה של דיווחים מופיעות בצבע מלא
        <span class='band3 band-square'></span>      
       שמצביע על ניתוח בוודאות גבוהה.<br/>
      <p i18n>באיזורים המופיעים בצבע מפוספס
        <span class='band-noinfo band3 band-square'></span>
       התקבלו דיווחים המספיקים רק ניתוח בוודאות בינונית.</p>
      <p i18n>המפה לא צובעת ערים ושכונות בהן לא התקבלו מספיק דיווחים. אלה יוצגו באפור מפוספס
        <span class='band-noinfo band-square'></span>.
      </p>

      <p i18n>המפה מציגה את הדמיון בין כלל הדיווחים באזור לבין הדיווחים של אלו שדיווחו על אבחנה חיובית של קורונה (COVID-19). חשוב להדגיש שצבעי המפה משקפים רק את רמת הדיווח על התסמינים, אינם משקפים את מדד הסיכון לתחלואה בנגיף הקורונה או את מצב התחלואה באותו אזור.</p>
      <p i18n>כמו כן, התסמינים המוצגים נפוצים אצל חולים בנגיף הקורונה אך אינם ספציפיים למחלה זו וייתכן שהם משקפים תחלואה במחלות אחרות.</p>

      <p></p>
      <p><small><span i18n>עודכן ב:</span>&nbsp;{{mapService.config.update_date}}</small></p>
    </div>
  </div>
  <div class='legend' [class.desktop]='layout.desktop'>
    <div class='scale'>
      <div class='label' i18n>רמת תסמיני<br/>קורונה:</div>
      <div class='scale-rows'>
        <div class='numbers'>
          <span>נמוכה</span>
          <span>גבוהה</span>
        </div>
        <div class='colors'>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class='no-info'>
      <div class='label' i18n>
        חוסר<br/>מידע:
      </div>
      <div class='scale-rows'>
        <div class='numbers'>
          <span>&nbsp;</span>
        </div>        
        <div class='colors'>
          <span class='band-noinfo'></span>
        </div>
      </div>
    </div>
  </div>
</div>